@font-face {
  font-family: "icomoon";
  src: url("../fonts/ico-fonts/");
  src: url("../fonts/ico-fonts/icomoon.eot") format("embedded-opentype"),
    url("../fonts/ico-fonts/icomoon.ttf") format("truetype"), url("../fonts/ico-fonts/icomoon.woff") format("woff"),
    url("../fonts/ico-fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cheveron-right:before {
  content: "\e900";
}
.icon-location:before {
  content: "\e901";
}
.icon-map:before {
  content: "\e901";
}
.icon-compass:before {
  content: "\e901";
}
.icon-direction:before {
  content: "\e901";
}
.icon-location1:before {
  content: "\e902";
}
.icon-map-marker:before {
  content: "\e902";
}
.icon-marker:before {
  content: "\e902";
}
.icon-pin:before {
  content: "\e902";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-phone:before {
  content: "\e942";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-th-list:before {
  content: "\e903";
}
.icon-message-circle:before {
  content: "\e904";
}
.icon-youtube:before {
  content: "\e905";
}
.icon-subdirectory_arrow_right:before {
  content: "\e907";
}
.icon-subdirectory_arrow_left:before {
  content: "\e908";
}
.icon-keyboard_arrow_right:before {
  content: "\e909";
}
.icon-keyboard_arrow_left:before {
  content: "\e90a";
}
.icon-keyboard_arrow_down:before {
  content: "\e90b";
}
.icon-star:before {
  content: "\e90c";
}
.icon-sort:before {
  content: "\e90f";
}
.icon-unsorted:before {
  content: "\e90f";
}
.icon-pagelines:before {
  content: "\e90e";
}
.icon-sort:before {
  content: "\e90f";
}
.icon-unsorted:before {
  content: "\e90f";
}
.icon-group:before {
  content: "\e910";
}
.icon-users:before {
  content: "\e910";
}
.icon-th-large:before {
  content: "\e911";
}
.icon-facebook:before {
  content: "\e912";
}
.icon-facebook-f:before {
  content: "\e912";
}
.icon-heart:before {
  content: "\e913";
}
.icon-lock-closed:before {
  content: "\e914";
}
.icon-notifications-outline:before {
  content: "\e915";
}
.icon-cheveron-right:before {
  content: "\e900";
}
.icon-location:before {
  content: "\e901";
}
.icon-map:before {
  content: "\e901";
}
.icon-compass:before {
  content: "\e901";
}
.icon-direction:before {
  content: "\e901";
}
.icon-location1:before {
  content: "\e902";
}
.icon-map-marker:before {
  content: "\e902";
}
.icon-marker:before {
  content: "\e902";
}
.icon-pin:before {
  content: "\e902";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-coin-yen:before {
  content: "\e93e";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-forward:before {
  content: "\e969";
}
.icon-reply:before {
  content: "\e96a";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-bubbles3:before {
  content: "\e96f";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-cog:before {
  content: "\e994";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-heart1:before {
  content: "\e9da";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-sort-amount-asc:before {
  content: "\ea4c";
}
.icon-sort-amount-desc:before {
  content: "\ea4d";
}
.icon-facebook1:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube1:before {
  content: "\ea9d";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pinterest2:before {
  content: "\ead2";
}
.icon-foursquare:before {
  content: "\ead6";
}
