@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/ico-fonts/');
    src:  url('../fonts/ico-fonts/icomoon.eot') format('embedded-opentype'),
      url('../fonts/ico-fonts/icomoon.ttf') format('truetype'),
      url('../fonts/ico-fonts/icomoon.woff') format('woff'),
      url('../fonts/ico-fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-cheveron-right:before {
    content: "\e900";
  }
  .icon-location:before {
    content: "\e901";
  }
  .icon-map:before {
    content: "\e901";
  }
  .icon-compass:before {
    content: "\e901";
  }
  .icon-direction:before {
    content: "\e901";
  }
  .icon-location1:before {
    content: "\e902";
  }
  .icon-map-marker:before {
    content: "\e902";
  }
  .icon-marker:before {
    content: "\e902";
  }
  .icon-pin:before {
    content: "\e902";
  }
  .icon-cart:before {
    content: "\e93a";
  }
  .icon-phone:before {
    content: "\e942";
  }
  .icon-power:before {
    content: "\e9b5";
  }
  