html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

a{
    display: inline-block !important;
    text-decoration: none !important;
    margin: 0 auto;
    text-align: center !important;
    color: $color-text;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none !important;
}
li{
    display: inline-block;
}

body{
    margin: 0 auto !important;
    font-family: 'Roboto', sans-serif !important;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-fluid{ //fullscreen container
    margin: 0 auto;
    padding: 0 30px;
    max-width: 100%;
}

@media(max-width: 720px){
    .container-fluid{
        padding: 0 15px;
    }
}