html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none !important;
  margin: 0 auto;
  text-align: center !important;
  color: $color-text;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none !important;
}
li {
  display: inline-block;
}

body {
  margin: 0 auto !important;
  font-family: "Roboto", sans-serif !important;
}

body .container {
  max-width: 1200px !important;
  margin: 0 auto;
  padding: 0 15px;
}

body .container-fluid {
  //fullscreen container
  margin: 0 auto !important;
  padding: 0 40px !important;
  max-width: 100% !important;
}

@media (max-width: 720px) {
  .container-fluid {
    padding: 0 15px;
  }
}

.rateyo {
  display: inline-block;
  margin-right: 13px;
}

.slick-dots {
  font-size: 0;
  text-align: center;
  margin: 0 auto;
  button {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px inset rgba(250, 250, 250, 0.603);
    margin-bottom: 121px;
  }
  button:hover {
    background-color: #8bc34a;
    transition: 0.3s;
  }
  ul {
    display: inline-block;
  }
  li {
    & + li {
      margin-left: 8px;
    }
    &.slick-active {
      button {
        background-color: #8bc34a;
      }
    }
  }
}
// sprite css social links
.bg-facebook_ico {
  width: 28px;
  height: 28px;
  background: url("../img/icons/social_sprites.png") -7px -7px;
}

.bg-linkedin_ico {
  width: 28px;
  height: 28px;
  background: url("../img/icons/social_sprites.png") -49px -7px;
}

.bg-pinterest_ico {
  width: 28px;
  height: 28px;
  background: url("../img/icons/social_sprites.png") -91px -7px;
}

.bg-twitter_ico {
  width: 28px;
  height: 28px;
  background: url("../img/icons/social_sprites.png") -133px -7px;
}

.bg-youtube_ico {
  width: 28px;
  height: 28px;
  background: url("../img/icons/social_sprites.png") -175px -7px;
}

.slick-arrow {
  border: none;
  background-color: transparent;
}
.slick-next::before {
  content: "\e909";
  font-family: "icomoon";
  color: $bg-grey;
  font-size: 20px;
}

.slick-prev::before {
  content: "\e90a";
  font-family: "icomoon";
  color: $bg-grey;
  font-size: 20px;
}

.box__img {
  img {
    background-position: center;
    background-size: cover;
  }
}
.inner-range-slider {
  width: 100%;
  height: 500px;
  background-color: #8bc34a;
}

.products__slider {
  text-align: center;
}

.fancybox-close-small {
  color: #fff !important;
}

// <---------- активация user info( а так же их отключение) ------------>
.active {
  display: none !important;
}
//if active is commented and deactive is not, we have registration page
// .deactive{
//     display: none !important;
// }

.price-slider {
  width: 270px;
  height: 245px;
  background-color: #fff;
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding-left: 31px;
  padding-top: 28px;
  &__tittle {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    margin-bottom: 60px;
  }
  &__slider {
    position: relative;
    width: 205px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    #range-min {
      width: 50px;
      border: none;
    }
    #range-max {
      width: 50px;
      border: none;
    }
  }
  // range price slider options
  #slider {
    width: 205px;
    height: 5px;
    background-color: #f2f5f8;
    margin-bottom: 18px;
  }
  .noUi-connect{
    background-color: #37474f;;
  }
  .noUi-horizontal .noUi-handle{
    width: 14px;
    height: 14px;
    right: -7px;
    top: -6px;
  }
  .noUi-handle.noUi-handle-upper::before, .noUi-handle.noUi-handle-upper::after,
  .noUi-handle.noUi-handle-lower::before, .noUi-handle.noUi-handle-lower::after{
    display: none;
  }
  .noUi-handle.noUi-handle-upper, .noUi-handle.noUi-handle-lower{
    border-radius: 50%;
    border: 2px solid #8bc34a;
  }

  &__btn {
    .price-search {
      width: 205px;
      height: 45px;
      border: none;
      background-color: #8bc34a;
      a {
        color: #fff;
        text-align: center;
        font-size: 14px;
        line-height: 45px;
      }
    }
    .price-search:hover{
      transition: all .3s;
      border: 1px solid #000;
      a{
        color: #000;
      }
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}