html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

a{
    display: inline;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    margin: 0 auto;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}