@import 'vars';
@import 'global';

.header_top-inner{
    display: flex;
    justify-content: space-between;
    height: 91px;
    align-items: center; //чтобы все было в центре
}
.header_top__text{
    margin-left: auto; //перемещает максимально от лево(т.е. к правому)
    margin-right: 50px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    font-size: 15px;
    color: $color-text;
        span{
            color: $color-red;
        }
        a{
            color: $color-text;
        }
}
.header__interact{
    .basket{
        margin-right: 20px !important;
    }
    .header__btn-green{
        padding: 5px;
        width: 75px;
        border-radius: 4px;
        background-color: $color-green;
        color: $color-white;
        font-size: 12px;
    }
    .header__btn-red{
        margin-left: 8px !important;
        padding: 5px;
        width: 75px;
        border-radius: 4px;
        background-color: $color-red;
        color: $color-white;
        font-size: 12px;
    }
}



.header__menu{
    ul{
        margin: 0;
    }
    background-color: $bg-grey;
    height: 60px;
    font-weight: 400;
    display: flex;
    align-items: center;
    .menu__list{
        a{
            color: $color-white;
            font-size: 14px;
        }
        li{
            display: inline-block;
            & + li{
                margin-left: 30px;
            }
        }
    }
}

.search{
    background-image: url(../img/greenbg.png); //для фона используй это свойство!!
    background-repeat: no-repeat; //после заполнения контентом не будет дублироваться
    background-size: cover; //липнет по краям экрана
    background-position: center; //где будет контент
    min-height: 534px;
    .search-inner{
        padding: 160px 0 100px; // внизу паддинг оставляем для возможного будущего расширения(заполнения контентом)
        text-align: center;
        .search-inner__tittle{
            font-size: 48px;
            line-height: 72px;
            font-weight: 700;
            color: $color-white;
            margin-bottom: 28px;
        }
        .search-inner__text{
            font-size: 20px;
            line-height: 30px;
            font-weight: 500;
            color: $color-white;
            margin-bottom: 50px;
        }
        .search-inner__form{
            max-width: 670px;
            margin: 0 auto;
            position: relative;
            form{
                input{
                    display: block;
                    width: 100%;
                    width: 670px;
                    height: 56px;
                    box-shadow: 0px 1px 10px 0px rgba(124,178,64,0.75);
                    border: none;
                    border-radius: 6px;
                    font-size: 14px;
                    line-height: 30px;
                    font-weight: 500;
                    letter-spacing: 0.05em;
                    color: #90a4ae;
                    padding-left: 25px;
                    padding-right: 30px;
                    outline: none;
                    &:focus{
                        border: 1px solid $color-text;
                    }
                }
                button{
                    position: absolute;
                    border: none;
                    background-color: transparent;
                    top: 14px;
                    right: 15px;
                }
            }
        }
    }
}