@import "vars";
@import "global";
@import "fonts";

.header_top-inner {
  display: flex;
  justify-content: space-between;
  height: 91px;
  align-items: center;
}
.header_top__text {
  margin-left: auto;
  margin-right: 50px;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  font-size: 15px;
  color: $color-text;
  span {
    color: $color-red;
  }
  a {
    color: $color-text;
  }
}
.header__interact {
  display: flex;
  justify-content: center;
  position: relative;

  .header__btn-green {
    padding: 10px;
    width: 75px;
    border-radius: 4px;
    background-color: $color-green;
    color: $color-white;
    font-size: 12px;
  }
  .header__btn-green:hover {
    color: $color-text;
    transition: 0.3s;
  }
  .header__btn-red {
    margin-left: 8px !important;
    padding: 10px;
    width: 75px;
    border-radius: 4px;
    background-color: $color-red;
    color: $color-white;
    font-size: 12px;
    text-align: center;
  }
  .header__btn-red:hover {
    color: $color-text;
    transition: 0.3s;
  }
  .header__btn-red-in {
    margin-left: 8px !important;
    padding: 10px;
    width: 75px;
    border-radius: 4px;
    background-color: $color-red;
    color: $color-white;
    font-size: 12px;
  }
  .header__btn-red-in:hover {
    color: $color-text;
    transition: 0.3s;
  }
  .circle-header {
    width: 34px;
    height: 34px;
    background-color: #ececec;
    border-radius: 50%;
    margin-right: 26px;
    position: relative;
    &::before {
      position: absolute;
      font-size: 14px;
      color: #a0a0a0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    span {
      position: absolute;
      right: -7px;
      top: -7px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      line-height: 18px;
      font-size: 11px;
      font-weight: 600;
      color: #fff;
    }
  }
  .circle-header:hover {
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.253);
    transition: 0.4s;
    &::before {
      color: #000;
    }
  }
  //
  // notification icon
  //
  .notification-menu {
    position: relative;
    .notification {
      span {
        background-color: #fcb322;
      }
      .fix {
        position: absolute;
        background-color: transparent;
        height: 70px;
        width: 43px;
        left: 0px;
      }
    }
    .notification-menu__massages-dropdown {
      position: absolute;
      top: -40px;
      transition: all 0.2s;
      right: -15px;
      position: absolute;
      margin-top: 65px;
      background-color: #fff;
      min-width: 268px;
      text-align: left;
      // свернутый дроп
      height: 0;
      // box-shadow: 0px 3px 5px 0px rgba(216, 216, 216, 0.452);
      overflow: hidden;
      &--case {
        display: flex;
        justify-content: start;
        padding: 19px 30px 19px 22px;
        border: 1px solid #e0e0e0;
        .avatar {
          padding: 0;
          margin-right: 20px;
        }
        .info {
          margin-top: 4px;
          margin-right: 59px;
          .type {
            a {
              font-size: 11px;
              font-weight: 400;
              color: $color-green;
            }
          }
          .date {
            font-size: 10px;
            font-weight: 400;
            color: #90a4ae;
          }
        }
        .ico {
          position: relative;
          a.simple::before {
            font-family: "icomoon";
            font-size: 18px;
            font-weight: 400;
            color: #b0bec5;
            content: "\e915";
            text-align: center;
            position: absolute;
            right: -20px;
            bottom: 12px;
          }
          a.tomato::before {
            font-family: "icomoon";
            font-size: 18px;
            font-weight: 400;
            color: #b0bec5;
            content: "\e915";
            text-align: center;
            position: absolute;
            right: -20px;
            bottom: 12px;
          }
          a.resend::before {
            font-family: "icomoon";
            font-size: 18px;
            font-weight: 400;
            color: #b0bec5;
            content: "\e915";
            text-align: center;
            position: absolute;
            right: -35px;
            bottom: 12px;
          }
        }
        .ico:hover {
          a.simple::before,
          a.tomato::before,
          a.resend::before {
            color: #ef6c00;
            transition: all 0.2s;
          }
        }
      }
    }
  }
  .notification-menu:hover {
    .notification-menu__massages-dropdown {
      height: auto;
      box-shadow: 0px 3px 5px 0px rgba(216, 216, 216, 0.452);
      overflow: auto;
      top: 0;
      transition: all 0.5s;
      border: 1px solid #cccccc;
      z-index: 999;
    }
  }
  //
  // massage icon
  //
  .massage-menu {
    position: relative;
    .massage {
      span {
        background-color: #ef6c00;
      }
      .fix {
        position: absolute;
        background-color: transparent;
        height: 70px;
        width: 43px;
        left: 0px;
      }
    }
    .massage-menu__massages-dropdown {
      position: absolute;
      top: -40px;
      transition: all 0.2s;
      right: 15px;
      position: absolute;
      margin-top: 65px;
      background-color: #fff;
      min-width: 268px;
      text-align: left;
      // свернутый дроп
      height: 0;
      // box-shadow: 0px 3px 5px 0px rgba(216, 216, 216, 0.452);
      overflow: hidden;
      &--case {
        display: flex;
        justify-content: start;
        padding: 19px 30px 19px 22px;
        border: 1px solid #e0e0e0;
        .avatar {
          padding: 0;
          margin-right: 20px;
        }
        .info {
          margin-right: 59px;
          .name {
            a {
              font-size: 12px;
              font-weight: 700;
              color: $bg-grey;
            }
          }
          .type {
            font-size: 11px;
            font-weight: 400;
            color: $color-green;
          }
          .date {
            font-size: 10px;
            font-weight: 400;
            color: #90a4ae;
          }
        }
        .ico {
          position: relative;
          a.simple::before {
            font-family: "icomoon";
            font-size: 18px;
            font-weight: 400;
            color: #b0bec5;
            content: "\e904";
            text-align: center;
            position: absolute;
            right: -20px;
            bottom: 20px;
          }
          a.tomato::before {
            font-family: "icomoon";
            font-size: 18px;
            font-weight: 400;
            color: #b0bec5;
            content: "\e904";
            text-align: center;
            position: absolute;
            right: -20px;
            bottom: 20px;
          }
          a.resend::before {
            font-family: "icomoon";
            font-size: 18px;
            font-weight: 400;
            color: #b0bec5;
            content: "\e907";
            text-align: center;
            position: absolute;
            right: -35px;
            bottom: 20px;
          }
        }
        .ico:hover {
          a.simple::before,
          a.tomato::before,
          a.resend::before {
            color: #ef6c00;
            transition: all 0.2s;
          }
        }
      }
    }
  }
  .massage-menu:hover {
    .massage-menu__massages-dropdown {
      height: auto;
      box-shadow: 0px 3px 5px 0px rgba(216, 216, 216, 0.452);
      border: 1px solid #cccccc;
      overflow: auto;
      top: 0;
      transition: all 0.5s;
      z-index: 999;
    }
  }
  //
  // basket icon
  //
  .basket-menu {
    .basket {
      position: relative;
      span {
        background-color: #95c85a;
      }
      .fix {
        position: absolute;
        background-color: transparent;
        height: 70px;
        width: 43px;
        left: 0px;
      }
    }
  }

  .basket-menu {
    position: relative;
    .basket-menu__dropdown-menu {
      top: -40px;
      transition: all 0.3s;
      right: 15px;
      position: absolute;
      margin-top: 65px;
      box-shadow: 0px 3px 5px 0px rgba(216, 216, 216, 0.452);
      background-color: #fff;
      min-width: 268px;
      width: 100%;
      text-align-last: left;
      // скрытый вид
      overflow: hidden;
      padding: 0;
      height: 0;
      border: none;
      .items {
        &__purchase {
          display: flex;
          justify-content: start;
          margin-bottom: 0px;
          border: 1px solid #e0e0e0;
          &--img {
            padding: 24px 17px 28px 23px;
          }
          &--info {
            padding: 21px 17px 28px 17px;
            text-align: left;
            .name {
              font-size: 15px;
              font-weight: 500;
              color: $bg-grey;
              text-align: left;
            }
            .type {
              font-size: 12px;
              font-weight: 400;
              color: #84b743;
            }
            .price {
              font-size: 16px;
              font-weight: 500;
              color: #000;
            }
          }
        }
      }
      .items__price {
        display: flex;
        justify-content: space-between;
        padding: 16px 28px;
        .text {
          font-size: 16px;
          font-weight: 700;
          color: $bg-grey;
        }
      }
      .items__btn {
        display: flex;
        justify-content: space-between;
        padding: 0 7px 3px 7px;
        .btn {
          padding: 6px 12px;
          font-size: 14px;
          text-align: center;
          font-weight: 700;
          color: #f4f6f5;
        }
        .btn.green {
          background-color: #95c85a;
          border-radius: 0%;
        }
        .btn.red {
          background-color: #e85647;
          border-radius: 0%;
        }
        .btn:hover {
          color: $color-text;
          transition: 0.2s;
        }
      }
    }
  }
  .basket-menu:hover {
    .basket-menu__dropdown-menu {
      overflow: auto;
      height: auto;
      border: 1px solid #cccccc;
      padding: 0px 0px 13px;
      top: 0;
      transition: all 0.5s;
      z-index: 999;
    }
  }
  //
  // user interactive menu
  //
  .user-in {
    display: flex;
    justify-content: space-between;
    width: 160px;
    height: 40px;
    margin-right: 30px;
    padding-right: 20px;
    position: relative;
    &::before {
      content: "\e90b";
      font-family: "icomoon";
      font-size: 14px;
      color: #707070;
      position: absolute;
      right: 0;
      top: 0;
    }
    &__avatar {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: #95c85a;
      margin-right: 14px;
    }
    &__info {
      height: 34px;
      line-height: 1.2;
      a {
        text-decoration: none;
        padding: 0;
        margin: 0;
      }
      .name {
        font-size: 14px;
        font-weight: 500;
        color: #222222;
      }
      .balance {
        font-size: 14px;
        font-weight: 700;
        color: #8bc34a;
        padding-bottom: 40px;
      }
    }
    .droplist {
      position: absolute;
      margin-top: 65px;
      border: 0px solid #cccccc;
      box-shadow: 0px 3px 5px 0px rgba(216, 216, 216, 0.452);
      background-color: #fff;
      width: 100%;
      text-align-last: left;
      // скрытый вид
      overflow: hidden;
      padding-top: 0;
      height: 0;
      border-width: none;
      top: -15px;
      transition: all 0.2s;
      li {
        padding-bottom: 15px;
        a {
          padding: 0;
          width: 150px;
          text-align: left;
          font-size: 12px;
          font-weight: 400;
          padding-left: 40px;
          color: #546e7a;
        }
        a:hover {
          color: #000;
        }
      }
      li::before {
        position: absolute;
        content: "\e900";
        font-family: "icomoon";
        left: 20px;
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        color: $color-green;
      }
    }
  }
  .user-in:hover {
    // раскрытие
    .droplist {
      overflow: auto;
      padding-top: 25px;
      height: auto;
      border-width: 1px;
      transition: all 0.5s;
      top: 0;
      z-index: 999;
    }
  }
}
//
// navigation buttons
//
.header__menu {
  ul {
    margin: 0;
  }
  background-color: $bg-grey;
  height: 60px;
  font-weight: 400;
  display: flex;
  align-items: center;
  .menu__list {
    a {
      color: $color-white;
      font-size: 14px;
    }
    a:hover {
      color: $color-text;
      transition: 0.3s;
    }
    li {
      display: inline-block;
      & + li {
        margin-left: 30px;
      }
    }
  }
}
//
// search section
//
.search {
  background-image: url(../img/greenbg.jpg);
  background-repeat: no-repeat; //после заполнения контентом не будет дублироваться
  background-size: cover; //липнет по краям экрана
  background-position: center;
  height: 534px;
  .search-inner {
    padding: 160px 0 100px; // Для возможного будущего расширения
    text-align: center;
    .search-inner__tittle {
      font-size: 48px;
      line-height: 72px;
      font-weight: 700;
      color: $color-white;
      margin-bottom: 28px;
    }
    .search-inner__text {
      font-size: 20px;
      line-height: 30px;
      font-weight: 500;
      color: $color-white;
      margin-bottom: 50px;
    }
    .search-inner__form {
      position: absolute;
      max-width: 670px;
      margin: 0 auto;
      position: relative;
      form {
        input {
          display: block;
          max-width: 670px;
          width: 100%;
          height: 56px;
          box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
          border: none;
          border-radius: 6px;
          font-size: 14px;
          line-height: 30px;
          font-weight: 500;
          letter-spacing: 0.05em;
          color: #90a4ae;
          padding-left: 25px;
          padding-right: 50px;
          outline: none;
          &:focus {
            border: 1px solid $color-text;
          }
        }
        button {
          position: absolute;
          border: none;
          background-color: transparent;
          top: 14px;
          right: 15px;
        }
        button::before {
          content: "\e986";
          font-family: "icomoon";
          line-height: 24px;
          color: #78909c;
          position: absolute;
          font-size: 20px;
          text-align: center;
          vertical-align: center;
          right: 5px;
        }
      }
    }
  }
}
//
// products for sell case
//
.products {
  .products__tittle {
    margin-top: 120px;
    text-align: center;
    font-size: 36px;
    line-height: 60px;
    font-weight: 700;
    color: $bg-grey;
    margin-bottom: 60px;
  }
  .products__category-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    button {
      text-align: center;
      padding: 12px 22px;
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
      color: $bg-grey;
      background-color: transparent;
      border: none;
    }
    button:hover {
      background-color: $color-red;
      color: $color-white;
      transition: 0.4s;
    }
  }
  .products__btn {
    margin-top: 63px;
    display: flex;
    justify-content: center;
    margin-bottom: 240px;
    button {
      & + button {
        margin-left: 13px;
      }
      width: 163px;
      height: 52px;
      background-color: transparent;
      border: none;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      color: $bg-grey;
    }
    button:hover {
      box-shadow: 1px 1px 3px -1px;
      transition: 0.5s;
    }
  }
}
//
// content of products
//
.products__items,
.products__slider,
.top-sellers,
.content-main__all-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  .item {
    max-width: 442px;
    width: 100%;
    margin: 0 0 35px;
    .item__img {
      height: 250px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-bottom: 30px;
      .popular {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 63px 63px 0 0;
        border-color: #08bc35 transparent transparent transparent;
        position: relative;
      }
      .popular::before {
        position: absolute;
        font-family: "icomoon";
        content: "\e9b5";
        font-size: 14px;
        color: #fff;
        top: -52px;
        left: 10px;
      }
    }
    .item__name {
      display: flex;
      justify-content: space-between;
      margin: 0 30px 40px;
      .item__text {
        max-width: 300px;
        max-height: 90px;
        white-space: nowrap; /* Запрещаем перенос строк */
        overflow: hidden; /* Обрезаем все, что не помещается в область */
        .item__tittle {
          font-size: 18px;
          line-height: 20px;
          font-weight: 500;
          color: $bg-grey;
          margin-bottom: 11px;
        }
        .item__description {
          font-size: 14px;
          line-height: 16px;
          font-weight: 500;
          color: #8bc34a;
        }
      }
      .item__price {
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        color: $bg-grey;
      }
    }
    .item__user {
      display: flex;
      justify-content: space-between;
      margin: 0px 30px 32px;

      .user {
        text-align: center;
        max-width: 250px;
        max-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        .user__avatar {
          margin-right: 13px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #b5b5b5;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
        .user__name {
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;
          color: #546e7a;
        }
      }
    }
  }
  .item:hover {
    box-shadow: 0px 2px 3px 0px rgba(144, 150, 155, 0.75);
    transition: 0.2s;
  }
}
.product-slider__tittle {
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: $bg-grey;
  margin-bottom: 60px;
}

.why_us {
  max-width: 100%;
  min-height: 616px;
  background-color: $bg-grey;
  .why_us__tittle {
    padding-top: 124px;
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    color: $color-white;
  }
  .why_us__items {
    padding: 83px 150px;
    display: flex;
    justify-content: space-between;
    .why_us__item {
      margin: 0 auto;
      width: 325px;
      .item__icon {
        margin: 0 auto;
        width: 113px;
        height: 113px;
        background-color: #ffffff;
        border-radius: 50%;
        margin-bottom: 33px;
        img {
          display: block;
          margin: 0 auto;
          padding-top: 20px;
          background: transparent;
        }
      }
      .item__icon-2 {
        background-color: $color-green;
        margin: 0 auto;
        width: 113px;
        height: 113px;
        border-radius: 50%;
        margin-bottom: 33px;
        img {
          display: block;
          margin: 0 auto;
          padding-top: 20px;
          background: transparent;
        }
      }
      .item__tittle {
        text-align: center;
        margin-bottom: 26px;
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
        color: $color-white;
      }
      .item__tittle-2 {
        text-align: center;
        margin-bottom: 26px;
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
        color: $color-green;
      }
      .item__text {
        text-align: center;
        font-size: 15px;
        line-height: 24px;
        font-weight: 400;
        color: $color-text;
      }
    }
  }
}

.authors {
  width: 100%;
  min-height: 761px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .authors__item {
    max-width: 653px;
    width: 100%;
    min-height: 216px;
    background-color: $color-green;
    display: flex;
    justify-content: center;
    align-items: center;
    .authors__tittle {
      font-size: 30px;
      line-height: 36px;
      font-weight: 400;
      color: $color-white;
      span {
        font-weight: 700;
      }
    }
    .authors_btn {
      width: 225px;
      height: 63px;
      margin-left: 47px;
      button {
        border: none;
        background-color: #ffffff;
        padding: 20px 40px;
        a {
          font-size: 18px;
          line-height: 22px;
          font-weight: 400;
          color: $bg-grey;
        }
      }
      button:hover {
        border: 1px solid green;
        transition: 0.5s;
        background-color: $bg-grey;
        a {
          color: $color-white;
        }
      }
    }
  }
}

.tutorial {
  margin-top: 66px;
  margin-bottom: 160px;
  .tutorial__tittle {
    font-size: 36px;
    line-height: 60px;
    font-weight: 700;
    color: $bg-grey;
    text-align: center;
    margin-bottom: 57px;
  }
  .tutorial_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    .tutorial__item {
      max-width: 370px;
      width: 100%;
      min-height: 270px;
      text-align: center;
      .box__img {
        text-align: center;
        img {
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }
      .box__tittle {
        margin-top: 39px;
        font-size: 24px;
        line-height: 60px;
        font-weight: 700;
        color: $bg-grey;
        text-align: center;
      }
    }
  }
}

.footer {
  background-color: $bg-grey;
  min-height: 489px;
  width: 100%;
  &__blocks {
    display: flex;
    justify-content: space-between;
    .blocks__item {
      max-width: 265px;
      width: 100%;
      margin-top: 116px;
      margin-bottom: 100px;
      .item__tittle {
        font-family: "Raleway", sans-serif;
        font-size: 22px;
        line-height: 24px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 58px;
        position: relative;
        .item__tittle-hr::after {
          margin-top: 23px;
          content: "";
          width: 51px;
          height: 3px;
          background-color: $color-green;
          position: absolute;
          left: 0;
        }
      }
      .item__first-text {
        font-size: 15px;
        line-height: 24px;
        font-weight: 400;
        color: #b7c3c8;
        margin-bottom: 36px;
      }
      .item__geo {
        font-family: "Lato", sans-serif;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 27px;
        padding-left: 30px;
        position: relative;
        .geo-ico::before {
          content: "\e902";
          position: absolute;
          font-family: "icomoon";
          left: 0;
          font-size: 18px;
          line-height: 24px;
          font-weight: 400;
          color: $color-green;
        }
      }
      .item__tel {
        font-family: "Lato", sans-serif;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #fff;
        padding-left: 30px;
        position: relative;
        a {
          text-decoration: none;
          color: #fff;
        }
        .tel-ico::before {
          content: "\e942";
          position: absolute;
          font-family: "icomoon";
          left: 0;
          font-size: 18px;
          line-height: 24px;
          font-weight: 400;
          color: $color-green;
        }
      }
      .item__links {
        li {
          display: block;
          padding-bottom: 26px;
          padding-left: 23px;
          position: relative;
          a {
            text-decoration: none;
            font-size: 15px;
            line-height: 17px;
            font-weight: 400;
            color: #b7c3c8;
          }
          a:hover {
            color: $color-green;
            transition: 0.3s;
          }
        }
        li::before {
          position: absolute;
          content: "\e900";
          font-family: "icomoon";
          left: 0;
          font-size: 18px;
          line-height: 24px;
          font-weight: 400;
          color: $color-green;
        }
      }
    }
    .small-width {
      max-width: 220px;
      width: 100%;
    }
    .footer__social-sprite {
      margin-bottom: 41px;
      max-width: 170px;
      width: 100%;
      li {
        a {
          width: 28px;
          height: 28px;
          box-shadow: 5px 3px 3px black;
          img {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
        }
      }
    }
    .footer_last-text {
      margin-bottom: 20px;
      font-size: 22px;
      line-height: 28px;
      font-weight: 400;
      color: #fff;
    }
    .footer__user-email {
      width: 261px;
      height: 40px;
      background-color: #2f3c43;
      border-style: solid;
      border-width: 1px;
      border-image-source: linear-gradient(180deg, #000000 0%, #263238 100%);
      border-image-slice: 1;
      background-origin: border-box;
      background-clip: content-box, border-box;
      position: relative;
      input {
        background-color: transparent;
        border: none;
        font-size: 16px;
        line-height: 34px;
        font-weight: 400;
        color: #697378;
        padding-left: 16px;
        padding-right: 60px;
        color: #fff;
      }
    }
    .footer__user-email::after {
      position: absolute;
      font-family: "icomoon";
      text-align: center;
      padding-top: 9px;
      color: #fff;
      content: "\e901";
      width: 43px;
      height: 38px;
      background-color: $color-green;
      right: 0;
    }
  }
}
.footer__bottom {
  background-color: $bg-grey;
  min-height: 75px;
  width: 100%;
  text-align: center;
  padding-top: 27px;
  border-top: 1px solid $color-text;
  color: $color-text;
}

// end product-page

/* popup login window style */

.animated-modal {
  max-width: 730px;
  width: 100%;
  max-height: 484px;
  background-color: #8bc34a;
  border-radius: 4px;
  overflow: hidden;
  transform: translateY(-50px);
  transition: all 0.7s;
  display: flex;
  justify-content: center;
  &__tittle {
    font-size: 48px;
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .name,
  .password {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 370px;
    input {
      padding-left: 41px;
      padding-right: 20px;
      border: none;
      max-width: 370px;
      width: 100%;

      height: 43px;
      background-color: #76ae36;
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
      color: #fff;
      -webkit-text-fill-color: #fff;
    }
  }
  ::before {
    position: absolute;
    font-family: "icomoon";
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 43px;
    left: 13px;
  }
  .name::before {
    content: "\e971";
  }
  .password::before {
    content: "\e914";
  }
  .name {
    margin-bottom: 8px;
  }
  .password {
    margin-bottom: 19px;
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 370px;
    button,
    button:active,
    button:focus {
      height: 50px;
      background-color: #76ae36;
      border: none;
      a {
        font-size: 14px;
        line-height: 50px;
        font-weight: 700;
        color: #fff;
        p {
          display: none;
        }
      }
    }
    .submit {
      padding: 0 44px;
    }
    .create {
      position: relative;
      padding: 0 44px;
      overflow: hidden;
      a {
        padding-left: 30px;
      }
      margin-bottom: 27px;
    }
    .create::before {
      font-family: "icomoon";
      content: "\e907";
      font-size: 18px;
      color: #fff;
      line-height: 50px;
      font-weight: 400;
      left: 36px;
      position: absolute;
    }
    button:hover {
      background-color: #fff;
      transition: all 0.3s;
      a {
        color: #000;
      }
    }
  }
  &__lost-pas {
    text-align: center;
    a {
      font-size: 18px;
      line-height: 20px;
      font-weight: 400;
      color: #fff;
    }
    a:hover {
      transition: 0.5s all;
      color: #000;
      border-bottom: 1px solid #000;
    }
  }
}

//  slide animation
.fancybox-slide--current .animated-modal {
  transform: translateY(0);
  opacity: 1;
}
.products-page {
  background-color: #f4f6f5;
  height: 100%;
  &__links:hover {
    a {
      color: $color-green;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.price-slider,
.categories,
.top-sellers {
  width: 270px;
  height: 245px;
  background-color: #fff;
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding-left: 31px;
  padding-top: 28px;
  border: 0.2px solid #d7d7d7;
  margin-bottom: 30px;
  &__tittle {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    max-width: 203px;
    padding-bottom: 18px;
    border-bottom: 1px solid #dde3e8;
    margin-bottom: 40px;
  }
  &__slider {
    position: relative;
    width: 205px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    #range-min {
      width: 50px;
      border: none;
    }
    #range-max {
      width: 50px;
      border: none;
    }
  }
  // range price slider options
  #slider {
    width: 205px;
    height: 5px;
    background-color: #f2f5f8;
    margin-bottom: 18px;
  }
  .noUi-connect {
    background-color: #37474f;
  }
  .noUi-horizontal .noUi-handle {
    width: 14px;
    height: 14px;
    right: -7px;
    top: -6px;
  }
  .noUi-handle.noUi-handle-upper::before,
  .noUi-handle.noUi-handle-upper::after,
  .noUi-handle.noUi-handle-lower::before,
  .noUi-handle.noUi-handle-lower::after {
    display: none;
  }
  .noUi-handle.noUi-handle-upper,
  .noUi-handle.noUi-handle-lower {
    border-radius: 50%;
    border: 2px solid #8bc34a;
  }

  &__btn,
  .top-sellers__btn {
    .price-search,
    .top-button {
      width: 205px;
      height: 45px;
      border: none;
      background-color: #8bc34a;
      a {
        color: #fff;
        text-align: center;
        font-size: 14px;
        line-height: 45px;
      }
    }
    .price-search:hover {
      a {
        transition: all 0.4s;
        color: $bg-grey;
      }
    }
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
.categories {
  height: 312px;
  &__tittle {
    margin-bottom: 20px;
  }
  &__naming {
    display: flex;
    justify-content: start;
    flex-direction: column;
    li {
      max-width: 210px;
      position: relative;
      padding-left: 20px;
      button {
        font-size: 15px;
        line-height: 15px;
        font-weight: 400;
        color: #263238;
        display: flex;
        justify-content: space-between;
        border: none;
        background-color: transparent;
        p {
          color: #90a4ae;
        }
        p:hover {
          cursor: default;
        }
      }
      & + li {
        margin-top: 15px;
      }
    }
    li::before {
      content: "\e909";
      font-family: "icomoon";
      font-size: 15px;
      color: $color-green;
      position: absolute;
      left: 0;
      top: -5px;
    }
  }
}

.top-sellers {
  height: auto;
  &__items {
    max-width: 208px;
    .item {
      width: 208px;
      border-bottom: 1px solid #dde3e8;
      &__img {
        max-height: 121px;
        height: 100%;
        margin-bottom: 15px !important;
      }
      .item__name,
      .item__user {
        margin: 0;
      }
      &__user {
        margin: 10px 0 20px !important;
      }
    }
    .item:hover {
      box-shadow: none;
    }
  }
}

.product-page__search {
  width: 100%;
  height: 230px;
  background-image: url(../img/min_height_bg.jpg);
  background-repeat: no-repeat; //после заполнения контентом не будет дублироваться
  background-size: cover; //липнет по краям экрана
  background-position: center;
  text-align: center;
  .search-inner__text {
    padding-top: 60px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: $color-white;
    margin-bottom: 22px;
  }
  .search-inner__form {
    position: absolute;
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 68px;
    form {
      input {
        display: block;
        max-width: 670px;
        width: 100%;
        height: 56px;
        box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
        border: none;
        border-radius: 6px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 500;
        letter-spacing: 0.05em;
        color: #90a4ae;
        padding-left: 25px;
        padding-right: 50px;
        outline: none;
        &:focus {
          border: 1px solid $color-text;
        }
      }
      button {
        position: absolute;
        border: none;
        background-color: transparent;
        top: 14px;
        right: 15px;
      }
      button::before {
        content: "\e986";
        font-family: "icomoon";
        line-height: 24px;
        color: #78909c;
        position: absolute;
        font-size: 20px;
        text-align: center;
        vertical-align: center;
        right: 5px;
      }
    }
  }
}
.top-sellers__btn {
  margin-bottom: 32px;
  width: 207px;
}
.top-sellers__btn:hover {
  .top-button a {
    transition: all 0.4s;
    color: $bg-grey;
  }
}

.content-main {
  &__sort-box {
    width: 869px;
    height: 60px;
    border: 0.2px solid #d7d7d7;
    margin-left: 28px;
    font-size: 14px;
    line-height: 60px;
    font-weight: 400;
    color: #707070;
    padding-left: 50px;
    position: relative;
    ::before,
    .sort,
    .sort-arrow,
    .fa,
    .fa-2 {
      font-family: "icomoon";
      top: 0;
      position: absolute;
      font-size: 14px;
      font-weight: 400;
      line-height: 60px;
      color: #455a64;
      border: none;
      background-color: transparent;
    }
    .sort {
      left: 20px;
    }
    .sort::before {
      content: "\ea4d";
    }
    .sort-arrow {
      left: 180px;
    }
    .sort-arrow::before {
      content: "\e90f";
    }
    .fa {
      right: 25px;
    }
    .fa::before {
      content: "\e911";
    }
    .fa-2 {
      right: 54px;
      top: -1px;
      background-color: transparent;
    }
    .fa-2::before {
      content: "\e903";
    }
    .fa:hover::before,
    .fa-2:hover::before,
    .sort:hover::before,
    .sort-arrow:hover::before {
      color: #8bc34a;
    }
  }
}

.content-main__all-content {
  margin: 30px 0 0 30px;
  .item {
    background-color: #ffffff;
    box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
    max-width: 270px;
    width: 100%;
    &__img {
      max-height: 180px;
      height: 100%;
      margin-bottom: 20px;
    }
    .item__name,
    .item__user {
      margin: 0 20px;
    }
    &__user {
      padding: 20px 0;
      margin-bottom: 25px;
    }
    .item__text {
      .item__tittle {
        font-size: 16px !important;
        margin-bottom: 6px !important;
      }
    }
  }
  .item:hover {
    box-shadow: none;
  }
}
#soft-box {
  background-color: #fff;
}
.page-links {
  margin: 75px 0 0 30px;
  li {
    width: 43px;
    height: 38px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    & + li {
      margin-left: 8px;
    }
    a {
      font-size: 16px;
      line-height: 38px;
      font-weight: 500;
      color: $bg-grey;
      display: block;
      margin: 0 auto;
    }
  }
  li:hover {
    background-color: #e74c3c;
    transition: all 0.3s;
    a {
      color: #fff;
    }
  }
}
.item-horizontal {
  display: none;
  background-color: #ffffff;
  box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
}
.item-horizontal.--disable {
  display: none;
}
.item-horizontal.--active {
  display: flex;
  justify-content: start;
  width: 100%;
  max-height: 180px;
  margin-bottom: 30px;
  .item__img {
    margin: 0;
  }
  .item__all-info {
    width: 100%;
    padding-top: 24px;
  }
  .item__all-info .text-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    border-bottom: 1px solid #e7ecf2;
    padding-left: 34px;
    .tittle {
      font-size: 16px;
      line-height: 18px;
      font-weight: 500;
      color: $bg-grey;
      padding-bottom: 6px;
    }
    .pre-tittle {
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
      color: $color-green;
      padding-bottom: 19px;
    }
    .text {
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
      color: #70838d;
      overflow: hidden;
      padding-bottom: 20px;
    }
    .text-info__price {
      padding-right: 34px;
      .price {
        font-size: 30px;
        line-height: 34px;
        font-weight: 700;
        color: $bg-grey;
        margin-bottom: 14px;
      }
      .sales {
        font-size: 13px;
        line-height: 15px;
        font-weight: 400;
        color: #aeb4bb;
      }
    }
  }
  .item__all-info .user-info {
    display: flex;
    justify-content: space-between;
    padding: 0 34px;
    .user-info__user-link {
      display: flex;
      .avatar img {
        width: 30px;
        height: 30px;
        margin-right: 13px;
      }
      .name {
        font-size: 14px;
        line-height: 35px;
        font-weight: 500;
        color: #546e7a;
      }
    }
    .user-info__interact {
      display: flex;
      justify-content: start;
      font-size: 12px;
      line-height: 35px;
      font-weight: 400;
      max-width: 320px;
      p {
        font-size: 16px;
        line-height: 35px;
        font-weight: 400;
        color: #aeb4bb;
        margin-right: 47px;
      }
      .rateyo {
        margin-right: 3px;
        line-height: 30px;
      }
      .rating {
        color: $bg-grey;
        margin-right: 30px;
      }
      ::before {
        position: absolute;
        font-size: 16px;
        line-height: 35px;
        font-weight: 400;
        color: #8bc34a;
        font-family: "icomoon";
      }
      .comment {
        color: $bg-grey;
        position: relative;
        margin-right: 27px;
      }
      .comment::before {
        content: "\e904";
        left: -22px;
      }
      .likes {
        color: $bg-grey;
        position: relative;
      }
      .likes::before {
        content: "\e913";
        left: -22px;
      }
    }
  }
}
.item {
  display: block;
}
.item.--disable {
  display: none;
}
.item.--active {
  display: block;
}

.info-page {
  .main-info {
    &__img-inner {
      width: 869px;
      height: 458px;
      border: 1px solid #d7d7d7;
      margin-bottom: 39px;
      .main-info-img {
        margin: 18px auto;
        width: 829px;
        height: 422px;
      }
    }
    &__tittle {
      font-size: 30px;
      line-height: 40px;
      font-weight: 500;
      color: $bg-grey;
      margin-bottom: 26px;
      max-width: 849px;
    }
    &__text {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: #707070;
      margin-bottom: 45px;
      max-width: 849px;
    }
    &__links {
      width: 869px;
      max-height: 50px;
      display: flex;
      justify-content: space-between;
      .links {
        width: 490px;
        display: flex;
        justify-content: space-between;
        a {
          font-size: 16px;
          line-height: 16px;
          font-weight: 400;
          color: #f4f6f5;
          padding-top: 20px;
        }
        .button {
          text-align: center;
          width: 138px;
          height: 50px;
          background-color: tomato;
        }
        .red {
          background-color: #e74c3c;
        }
        .grey {
          background-color: #455a64;
        }
        .green {
          background-color: #8bc34a;
        }
      }
      .social {
        display: flex;
        justify-content: space-between;
        width: 226px;
        .ico {
          width: 54px;
          height: 50px;
          position: relative;
        }
        ::before {
          font-family: "icomoon";
          font-size: 18px;
          line-height: 50px;
          font-weight: 400;
          color: #fff;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
        .fb {
          background-color: #6370b6;
        }
        .fb::before {
          content: "\e912";
        }
        .tw {
          background-color: #64b5f6;
          position: relative;
        }
        .tw::before {
          content: "\ea96";
        }
        .lin {
          background-color: #4f71ce;
          position: relative;
        }
        .lin::before {
          content: "\eaca";
        }
        .pint {
          background-color: #d32f2f;
          position: relative;
        }
        .pint::before {
          content: "\ead2";
        }
      }
      margin-bottom: 55px;
    }
    &__tabs {
      width: 870px;
      height: 324px;
      border: 1px solid #d7d7d7;
      margin-bottom: 52px;
      .tabs-tittles {
        display: flex;
        justify-content: space-between;
        margin-bottom: 37px;
        .tittle {
          font-size: 16px;
          line-height: 16px;
          font-weight: 500;
          color: #263238;
          width: 225px;
          text-align: center;
          padding: 24px;
          border-bottom: 1px solid #d7d7d7;
          & + .tittle {
            border-left: 1px solid #d7d7d7;
          }
        }
      }
      .tabs-info {
        display: flex;
        justify-content: start;
        padding: 0 38px;
        font-size: 15px;
        line-height: 36px;
        font-weight: 400;
        color: #707070;
        li {
          position: relative;
        }
        li::before {
          position: absolute;
          font-family: "icomoon";
          color: $color-green;
          left: -20px;
          content: "\e909";
        }
        .text.feature {
          display: flex;
          justify-content: space-between;
          .left,
          .right {
            width: 260px;
          }
        }
      }
    }
    &__more-products {
      .more-tittle {
        width: 870px;
        height: 60px;
        border: 0.2px solid #d7d7d7;
        font-size: 18px;
        line-height: 60px;
        font-weight: 500;
        color: #263238;
        padding-left: 24px;
        margin-bottom: 30px;
      }
      .more-products-items {
        margin-bottom: 105px;
        max-width: 870px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__product {
          display: flex;
          justify-content: space-between;
          width: 270px;
          height: 90px;
          background-color: #ffffff;
          box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
          margin-bottom: 28px;
          .info {
            padding: 15px;
            text-align: left;
            .tittle {
              font-size: 14px;
              line-height: 16px;
              font-weight: 500;
              color: #263238;
              padding-bottom: 9px;
            }
            .type {
              font-size: 12px;
              line-height: 14px;
              font-weight: 400;
              color: #8bc34a;
              padding-bottom: 6px;
            }
            .price {
              font-size: 18px;
              line-height: 20px;
              font-weight: 700;
              color: #263238;
            }
          }
        }
      }
    }
  }

  .aside-info {
  }
}

@import "media";
