@import 'vars';
@import 'global';

.header_top-inner{
    display: flex;
    justify-content: space-between;
    height: 91px;
    align-items: center; //чтобы все было в центре
}
.header_top__text{
    margin-left: auto; //перемещает максимально от лево(т.е. к правому)
    margin-right: 50px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    font-size: 15px;
    color: $color-text;
        span{
            color: $color-red;
        }
        a{
            color: $color-text;
        }
}
.header__interact{
    .basket{
        margin-right: 20px !important;
    }
    .header__btn-green{
        padding: 5px;
        width: 75px;
        border-radius: 4px;
        background-color: $color-green;
        color: $color-white;
        font-size: 12px;
    }
    .header__btn-red{
        margin-left: 8px !important;
        padding: 5px;
        width: 75px;
        border-radius: 4px;
        background-color: $color-red;
        color: $color-white;
        font-size: 12px;
    }
}



.header__menu{
    ul{
        margin: 0;
    }
    background-color: $bg-grey;
    height: 60px;
    font-weight: 400;
    display: flex;
    align-items: center;
    .menu__list{
        a{
            color: $color-white;
            font-size: 14px;
        }
        li{
            display: inline-block;
            & + li{
                margin-left: 30px;
            }
        }
    }
}

.search{
    background-image: url(../img/greenbg.jpg); //для фона используй это свойство!!
    background-repeat: no-repeat; //после заполнения контентом не будет дублироваться
    background-size: cover; //липнет по краям экрана
    background-position: center; //где будет контент
    min-height: 534px;
    .search-inner{
        padding: 160px 0 100px; // внизу паддинг оставляем для возможного будущего расширения(заполнения контентом)
        text-align: center;
        .search-inner__tittle{
            font-size: 48px;
            line-height: 72px;
            font-weight: 700;
            color: $color-white;
            margin-bottom: 28px;
        }
        .search-inner__text{
            font-size: 20px;
            line-height: 30px;
            font-weight: 500;
            color: $color-white;
            margin-bottom: 50px;
        }
        .search-inner__form{
            max-width: 670px;
            margin: 0 auto;
            position: relative;
            form{
                input{
                    display: block;
                    width: 100%;
                    width: 670px;
                    height: 56px;
                    box-shadow: 0px 1px 10px 0px rgba(124,178,64,0.75);
                    border: none;
                    border-radius: 6px;
                    font-size: 14px;
                    line-height: 30px;
                    font-weight: 500;
                    letter-spacing: 0.05em;
                    color: #90a4ae;
                    padding-left: 25px;
                    padding-right: 50px;
                    outline: none;
                    &:focus{
                        border: 1px solid $color-text;
                    }
                }
                button{
                    position: absolute;
                    border: none;
                    background-color: transparent;
                    top: 14px;
                    right: 15px;
                }
            }
        }
    }
}

.products{
    .products__tittle{
        margin-top: 120px;
        text-align: center;
        font-size: 36px;
        line-height: 60px;
        font-weight: 700;
        color: $bg-grey;
        margin-bottom: 60px;
    }
    .products__category-btn{
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        button{
            text-align: center;
            padding: 12px 22px;
            font-size: 14px;
            line-height: 16px;
            font-weight: 500;
            color: $bg-grey;
            background-color: transparent;
            border: none;
        }
        button:hover{
            background-color: $color-red;
            color: $color-white;
            transition: 0.4s;
        }
    }
    .products__btn{
        margin-top: 63px;
        display: flex;
        justify-content: center;
        margin-bottom: 240px;
        button{
            & + button{
                margin-left: 13px;
            }
            width: 163px;
            height: 52px;
            background-color: transparent;
            border: none;
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            color: $bg-grey;
        }
        button:hover{
            box-shadow: 1px 1px 3px -1px;
            transition: 0.5s;
        }
    }
}

.products__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .item{
        min-width: 442px;
        max-width: 442px;
        margin-bottom: 35px;
        .item__img{
            min-height: 250px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-bottom: 30px;
        }
        .item__name{
            display: flex;
            justify-content: space-between;
            margin: 0 30px 40px;
            .item__text{
                max-width: 300px;
                max-height: 90px;
                white-space: nowrap; /* Запрещаем перенос строк */
                overflow: hidden; /* Обрезаем все, что не помещается в область */
                .item__tittle{
                    font-size: 18px;
                    line-height: 20px;
                    font-weight: 500;
                    color: $bg-grey;
                    margin-bottom: 11px;
                }
                .item__description{
                    font-size: 14px;
                    line-height: 16px;
                    font-weight: 500;
                    color: #8bc34a;
                }
            }
            .item__price{
                font-size: 20px;
                line-height: 20px;
                font-weight: 700;
                color: $bg-grey;
            }
        }
        .item__user{
            display: flex;
            justify-content: space-between;
            margin: 0 30px 32px;
            
            .user{
                text-align: center;
                max-width: 250px;
                max-height: 30px;
                .user__avatar{
                    margin-right: 13px;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: #b5b5b5;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
                .user__name{
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 500;
                    color: #546e7a;
                }
            }
            .rating{
                .user__rating{
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    font-family: Roboto;
                    font-size: 12px;
                    line-height: 22px;
                    font-weight: 400;
                    color: #b0bec5;
                    white-space: nowrap;
                    overflow: hidden;
                    img{
                        margin-right: 14px;
                    }
                    span{
                        color: $bg-grey; 
                    }
                }
            }
        }
    }
    .item:hover{
        box-shadow: 0px 1px 2px 0px rgba(205,214,222,0.75);
    }
}