.black_box{
    max-width: 300px;
    min-height: 300px;
    margin: 0 auto;
    margin-top: 300px;
    position: relative;
}
.box__triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 200px 0 0;
    border-color: #007bff transparent transparent transparent;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
}